parameters:
	ignoreErrors:
		-
			message: "#^Method Realodix\\\\Assert\\\\Assert\\:\\:count\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assert.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Assert\\:\\:countBetween\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assert.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Assert\\:\\:isMap\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assert.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Assert\\:\\:isNonEmptyMap\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assert.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Assert\\:\\:keyExists\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assert.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Assert\\:\\:keyNotExists\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assert.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Assert\\:\\:maxCount\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assert.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Assert\\:\\:minCount\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assert.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: src/Constraint.php

		-
			message: "#^Parameter \\#1 \\$array of function array_filter expects array, mixed given\\.$#"
			count: 1
			path: src/Constraint.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Helper.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Type\\:\\:arrayValueIs\\(\\) has parameter \\$values with no value type specified in iterable type array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Type.php

		-
			message: "#^Method Realodix\\\\Assert\\\\Type\\:\\:typeHasRedundantMembers\\(\\) has parameter \\$types with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Type.php
